<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Accueil | App-Portefeuille</title>
</head>
<body>

  <h1>Bienvenue sur ton App-Portefeuille </h1>

  <div>
    <h2>Portefeuille actif</h2>
    <p><strong>Nom :</strong> {{ portefeuille.nom }}</p>
    <p>Date de création : {{ portefeuille.date_creation }}</p>
  </div>

  <div>
    <p>Application Django — Projet de gestion et d’analyse de portefeuille</p>
  </div>

</body>
</html>